<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Aplikasi</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li class="dropdown">
            <a href="#homeSubmenu" data-bs-toggle="collapse" data-bs-target="#homeSubmenu" aria-expanded="false" aria-controls="homeSubmenu" class="dropdown-toggle">Home</a>
            <ul class="collapse" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Aduan Pidana</a>
        </li>
        <li>
            <a href="">Gugatan</a>
        </li>
        <li>
            <a href="/hakim">Hakim</a>
        </li>
        <li>
            <a href="">Jaksa</a>
        </li>
        <li>
            <a href="">Pelapor</a>
        </li>
        <li>
            <a href="">Terperkara</a>
        </li>
    </ul>
</nav>
